<div class="card">
  <div class="card-image">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="<%= jury.name %>">
  </div>
  <div class="card-header">
    <%= jury.name %>
  </div>
  <div class="card-copy">
    <%= jury.bio %>
    <% if can? :manage, Jury %>
      <%= link_to 'Editar', edit_jury_path(jury) %> |
      <%= link_to 'Eliminar', jury, method: :delete, data: { confirm: '¿Está seguro?' } %>
    <% end %>
  </div>
</div>
