<%= image_tag @participant.user.avatar.url(:medium) %>
<br/>
<br/>
<p>
  <strong>Name:</strong>
  <%= @participant.nombre_completo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @participant.user.email %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @participant.tel %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @participant.bio %>
</p>

<strong>Total de votos: </strong><%= @participant.votes.count %><br/>
<% @participant.categories.each do |category| %>
  <%= link_to "#{category.title} (#{@participant.votes.where(:category_id => category.id).count})", category_path(category.id) %>
  <% if user_signed_in? %>
    <%= button_to '+1', upvote_participant_path(:id => @participant.id, :category_id => category.id), method: :post %>
  <% end %>
  <br/>
<% end %>

<hr>
<strong>Calificaciones del jurado</strong>
<table>
  <thead>
    <tr>
      <th>Juez</th>
      <th>Promedio</th>
      <% @parameters.each do |parameter| %>
        <th><%= parameter.title %></th>
      <% end %>
    </tr>
  <tbody>
    <tr>
      <% @participant_ratings.group_by(&:jury_id).each do |jury, rating| %>
        <td><%= Jury.find(jury).name %></td>
        <%
        @scores = rating.collect{|x|x[:score]}
        @average = @scores.inject{ |sum, el| sum + el }.to_f / @scores.size
        %>
        <td><%= @average %></td>
        <% rating.each do |r| %>
          <td><%= r.score %></td>
        <% end %>
      <% end %>
    </tr>
  </tbody>
</table>

<%= link_to 'Editar', edit_participant_path(@participant) if can? :update, @participant %>
