<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @participant.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @participant.email %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @participant.lastname %>
</p>

<p>
  <strong>Lastname2:</strong>
  <%= @participant.lastname2 %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @participant.tel %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @participant.bio %>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
