<%= image_tag current_user.avatar.url(:thumb) %>
<% if @user.participant.present? %>
  <h1><%= @user.participant.nombre_completo %></h1>
  <p><%= @user.email %></p>
<% else %>
  <%= @user.email %>
<% end %>

<h2>Votos: (<%= @user.vote_count %>)</h2>
<% if @user.votes.present? %>
  <% @user.votes.group_by {|i| i.category_id}.each do |category,votes| %>
    <strong><%= Category.find(category).title %></strong>
    <ul>
      <% votes.each do |vote| %>
        <li><%= Participant.find(vote.participant_id).nombre_completo %></li>
      <% end %>
    </ul><br/>
  <% end %>
<% end %>
<%= link_to 'Editar Perfil',edit_user_registration_path %>
