<div class="msform">
  <%= simple_form_for(@subscriber)do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <!-- progressbar -->
      <!-- <ul id="progressbar">
        <li class="active">Email</li>
        <li>Name</li>
        <li>Personal Details</li>
        <li>Telephone number</li>
        <li>Category</li>
        <li>Country</li>
      </ul> -->
      <fieldset>
        <h2 class="fs-title">Email</h2>
        <%= f.email_field :email, :required => 'required' %>
        <input type="button" name="next" class="next action-button" value="&rtrif;" />
      </fieldset>
      <fieldset>
        <h2 class="fs-title">Nombre completo</h2>
        <%= f.input :name, :required => 'required' %>
        <!-- <input type="button" name="previous" class="previous action-button" value="Previous" /> -->
        <input type="button" name="next" class="next action-button" value="&rtrif;" />
      </fieldset>
      <fieldset>
        <h2 class="fs-title">Número telefónico</h2>
        <%= f.input :tel, :required => 'required' %>
        <!-- <input type="button" name="previous" class="previous action-button" value="Previous" /> -->
        <input type="button" name="next" class="next action-button" value="&rtrif;" />
      </fieldset>
      <% if dancer == true %>
        <fieldset>
          <h2 class="fs-title">Seleccione una categoría</h2>
          <%= f.select :category, options_for_select([ "Belly Dancer", "Profesora danzas del Medio Oriente" ], "Belly Dancer"), :required => 'required' %>
          <!-- <input type="button" name="previous" class="previous action-button" value="Previous" /> -->
          <input type="button" name="next" class="next action-button" value="&rtrif;" />
        </fieldset>
      <% end %>
      <fieldset>
        <h2 class="fs-title">¿De qué país nos visita?</h2>
        <%= f.country_select :country, :required => 'required' %>
        <% if dancer == false %>
          <%= f.hidden_field :category, :value => "General" %>
        <% end %>
        <div class="tos-checbox">
          <%= f.check_box :terms_of_service %> Acepto los <%= link_to "términos y condiciones", '/terms', :target => '_blank' %>
        </div>
        <!-- <input type="button" name="previous" class="previous action-button" value="Previous" /> -->
        <!-- <input type="submit" name="submit" class="submit action-button" value="Submit" /> -->
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= f.button :submit, "✔", :class => "submit action-button" %>
      </fieldset>
    </div>
  <% end %>
</div>
