<%= form_tag @participant_rating do %>
  <%= @kennel.inspect %>
  <% @kennel.each do |parameter| %>
    <%= fields_for "participant_ratings[][]", parameter do |p| %>
        <%= p.hidden_field :participant_id %>
        <%= p.hidden_field :category_id %>
        <%= p.hidden_field :parameter_id %>
        <%= p.hidden_field :jury_id %>
        <%= p.label :score, parameter.parameter.title %>
        <%= p.number_field :score %>
    <% end %>
  <% end %>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
