<h1>Categoría <%= @category.title %></h1>
<table>
  <thead>
    <tr>
      <td>Foto</td>
      <td>Nombre de la participante</td>
      <td>Votos</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @participants.each do |participant| %>
      <tr>
        <td></td>
        <td>
          <%= participant.nombre_completo %><br/>
          <%= link_to "Ver perfil", participante_path(participant.id) %>
        </td>
        <td><%= participant.votes.where(:category_id => @category.id).count %></td>
        <td>
          <% if user_signed_in? %>
            <% if current_user.can_vote?(@category) %>
              <%= button_to '+1', upvote_participant_path(:id => participant.id, :category_id => @category.id), method: :post %>
            <% end %>
          <% else %>
            <%= link_to "Regístrate para votar", new_user_session_path %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
