<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <%= link_to 'Aidah Manaar - Concurso', root_path, :class => 'logo-text' %>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li id="js-navigation-categories" class="nav-link more"><%= link_to 'Categorías', categories_path %>
          <ul class="submenu">
            <% Category.all.each do |category| %>
              <li><%= link_to category.title, category_path(category.id) %></li>
            <% end %>
          </ul>
          <li class="nav-link"><%= link_to "Jurado", juries_path %></li>
        </li>
      </ul>
    </nav>
    <nav class="user-menu">
      <ul class="navigation-menu">
        <% if user_signed_in? %>
          <li class="nav-link"><<%= link_to('Cerrar sesión', destroy_user_session_path, :method => :delete) %></li>
          <li class="nav-link"><%= link_to current_user.email, "/user/#{current_user.id}" %></li>
        <% else %>
          <li class="nav-link"><%= link_to('Iniciar Sesión', new_user_session_path)  %></li>
          <li class="nav-link"><%= link_to('Crear cuenta', new_user_registration_path)  %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
