<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <%= link_to 'Expo Bellydance', root_path, :class => 'logo-text' %>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <% Category.all.each do |category| %>
          <li class="nav-link"><%= link_to category.title, category_path(category.id) %></li>
        <% end %>

        <% if user_signed_in? %>
          <% if current_user.is? :admin %>
            <li id="js-navigation-categories" class="nav-link more"><%= link_to 'Configuración', "#" %>
              <ul class="submenu">
                  <li><%= link_to "Parámetros de calificación" , parameters_path %></li>
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>
    </nav>
    <nav class="user-menu">
      <ul class="navigation-menu">
        <% if user_signed_in? %>
          <li class="nav-link"><<%= link_to('Cerrar sesión', destroy_user_session_path, :method => :delete) %></li>
          <li class="nav-link"><%= link_to current_user.email, "/user/#{current_user.id}" %></li>
        <% else %>
          <li class="nav-link"><%= link_to('Iniciar Sesión', new_user_session_path)  %></li>
          <li class="nav-link"><%= link_to('Crear cuenta', '/tipo_de_usuario')  %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
