<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <%= link_to 'Aidah Manaar - Concurso', root_path, :class => 'logo-text' %>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><%= link_to 'Categorías', categories_path %></li>
        <li id="js-navigation-more" class="nav-link more"><a href="javascript:void(0)">More</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">Submenu Item</a></li>
            <li><a href="javascript:void(0)">Another Item</a></li>
            <li class="more"><a href="javascript:void(0)">Item with submenu</a>
              <ul class="submenu">
                <li><a href="javascript:void(0)">Sub-submenu Item</a></li>
                <li><a href="javascript:void(0)">Another Item</a></li>
              </ul>
            </li>
            <li class="more"><a href="javascript:void(0)">Another submenu</a>
              <ul class="submenu">
                <li><a href="javascript:void(0)">Sub-submenu</a></li>
                <li><a href="javascript:void(0)">An Item</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <nav class="user-menu">
      <ul class="navigation-menu">
        <% if user_signed_in? %>
          <li><%= link_to('Cerrar sesión', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
          <li class="nav-link"><%= link_to('Iniciar Sesión', new_user_session_path)  %></li>
          <li class="nav-link"><%= link_to('Crear cuenta', new_user_registration_path)  %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
