<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%# render "navigation" %>
  <div class="main container">
    <div class="form-container">
      <div class="logo">
        <%= image_tag(Setting.first.logo.url, alt: 'Expo Belly Dance') %>
      </div>
      <%= render "flashes" -%>
      <%= yield %>
    </div>
    <div class="image-container">
      <%= image_tag(Setting.first.image.url, alt: 'Expo Belly Dance') %>
    </div>
  </div>
  <%# render "footer" %>
  <%= render "javascript" %>
  <%= render "css_overrides" %>
</body>
</html>
